<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>

<body id="body-login">

<header id="header-login">
    <h1 id="title-login">Login</h1>
</header>

<main id="main-login">

<form id="form-login" th:action="@{/perform_login}" method="post">

    <input id="input-email" name="username" placeholder="Email">
    <input id="input-password" name="password" placeholder="Password">

    <button id="btn-login" type="submit">Login</button>

</form>

<div id="div-to-register" style="margin-top: 15px;">
    <p>Non hai un account? <a id="link-to-register" href="/register">Registrati qui</a></p>
</div>
</main>

</body>
</html>