<!DOCTYPE html>
<html>
<head>
    <title>Prenotazioni</title>
</head>

<body id="body-prenotazioni">

<header id="header-prenotazioni">
    <h1 id="title-prenotazioni">Prenotazioni</h1>
</header>

<main id="main-prenotazioni">

<table id="table-prenotazioni">

    <thead id="thead-prenotazioni">
        <tr>
            <th>ID</th>
            <th>Utente</th>
            <th>Persone</th>
            <th>Data</th>
        </tr>
    </thead>

    <tbody id="tbody-prenotazioni">

        <tr th:each="p : ${prenotazioni}" th:id="'prenotazione-' + ${p.id}">
            <td th:text="${p.id}" th:id="'p-id-' + ${p.id}"></td>
            <td th:text="${p.clienteId}" th:id="'p-utente-' + ${p.id}"></td>
            <td th:text="${p.numeroPersone}" th:id="'p-persone-' + ${p.id}"></td>
            <td th:text="${p.dataOra}" th:id="'p-data-' + ${p.id}"></td>
            <td>
                <form th:action="@{/prenotazioni/{id}(id=${p.id})}" method="post" 
                      th:onsubmit="'return confirm(\'Sei sicuro di voler cancellare la prenotazione ID ' + ${p.id} + '?\');'">
                    
                    <input type="hidden" name="_method" value="DELETE" />
                    
                    <button type="submit" style="color: white; background-color: red; border: none; padding: 5px 10px; cursor: pointer;">
                        Elimina
                    </button>
                </form>
            </td>
        </tr>

    </tbody>

</table>

</main>

</body>
</html>